<-- https://medium.com/ngconf/angular-flex-layout-ddf1c8fad37e
fxLayoutGap="10px"
-->
<div class="outerContainer">
  <div fxLayout="row wrap" class="container">
    <div
      *ngFor="let card of cardList"
    >
      <p>{{ card }}</p>
      <!--img [src]="card" /-->
    </div>
  </div>
</div>
    <!--div fxLayoutAlign="center center">1</div>
    <div fxLayoutAlign="center center">2</div>
    <div fxLayoutAlign="center center">3</div>
    <div fxLayoutAlign="center center">4</div>
    <div fxLayoutAlign="center center">5</div>
    <div fxLayoutAlign="center center">6</div>
    <div fxLayoutAlign="center center">7</div>
    <div fxLayoutAlign="center center">8</div>
  </div>
</div-->
